@mixin reset-button() {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}



@mixin reset-input() {
  outline: none;
  box-shadow: none;
}



@mixin transition($property: all, $duration: .3s, $timing: ease, $delay: inherit) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;

  @if ($delay != inherit) {
    transition-delay: $delay;
  }
}



@mixin custom-scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}



@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}



@mixin flex-center-column() {
  @include flex-center();

  flex-direction: column;
}



@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;

  @if ($gap != 0) {
    gap: $gap;
  }
}



@mixin flex-justify($align: center, $gap: 0) {
  display: flex;
  align-items: $align;
  justify-content: space-between;

  @if ($gap != 0) {
    gap: $gap;
  }
}



@mixin pseudo($content: '', $pos: absolute) {
  content: $content;
  position: $pos;
}



@mixin trim-lines($lines: 3) {
  @supports (-webkit-line-clamp: $lines) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



@mixin cover-background() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



@mixin absolute-center($z-index: 1, $left: 50%) {
  position: absolute;
  top: 50%;
  left: $left;
  z-index: $z-index;

  @if ($left == 50%) {
    transform: translate(-50%, -50%);
  }
  @else {
    transform: translate(-50%, 0);
  }
}



@mixin m-auto() {
  margin-right: auto;
  margin-left: auto;
}
