@mixin reset-button() {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
}

@mixin reset-input() {
  outline: none;
  box-shadow: none;
}

@mixin transition($property: all, $duration: .3s, $timing: ease, $delay: inherit) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;

  @if $delay != inherit {
    transition-delay: $delay;
  }
}

@mixin custom-scrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin flex-justify($align: center) {
  display: flex;
  align-items: $align;
  justify-content: space-between;
}

@mixin pseudo($content: '', $pos: 'absolute') {
  content: $content;
  position: $pos;
}
