$pathMedia: '../../media/';

:root {
  --font-family: 'Montserrat-Regular', 'Arial', sans-serif;
  --color-base: #333;
  --color-white: #fff;
  --color-primary: #28bbf4;
  --color-secondary: #026d94;
  --width-container: 1440px;
  --font-size-icon-small: 14px;
  --font-size-text-small: 14px;
  --shadow-select: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  --padding-select: 8px;
}
