$pathMedia: '../../media/';

:root {
  --color-base: #333;
  --color-white: #fff;
  --color-primary: #28bbf4;
  --color-secondary: #026d94;

  --font-size-icon-small: 14px;
  --font-size-text-small: 14px;

  --font-family: 'Montserrat-Regular', 'Arial', sans-serif;

  --shadow-select: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  --shadow-header: var(--shadow-select);

  --radius-modal: 10px;

  --width-container: 1440px;

  --height-header: 80px;

  --padding-select: 8px;
  --padding-gutter: 30px;

  --zindex-header: 10;
}
