* {
  box-sizing: border-box;
  outline: none;
}

:focus {
  outline: none !important;
}

html {
  font-size: 62.5%; // ~10px, for using rem
}

body {
  margin: 0;
  padding: 0;
  font-family: $ff;
  font-size: 16px;
  line-height: 1.3;
  overflow-x: hidden;
}

.body {
  &--no-croll {
    overflow: hidden;
  }
}
