@use 'sass:math';

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

#SVG_container {
  position: absolute;
  height: 0;
  width: 0;
}

#SVG_container svg {
  position: absolute;
  height: 0;
  width: 0;
}

.icon-arrow-left {
  font-size: math.div(512, 10)*1rem;
  width: math.div(192, 512)*1em;
}
.icon-arrow-right {
  font-size: math.div(512, 10)*1rem;
  width: math.div(192, 512)*1em;
}
.icon-check {
  font-size: math.div(512, 10)*1rem;
  width: math.div(448, 512)*1em;
}
.icon-close {
  font-size: math.div(512, 10)*1rem;
  width: math.div(320, 512)*1em;
}
.icon-down {
  font-size: math.div(512, 10)*1rem;
  width: math.div(256, 512)*1em;
}
