mixin modals
	.modals

		#message-modal.modal.modal--message.modal--animate
			.modal__inner
				button.modal__button-close.js-close-modal(type='button')
					+icon('close', 'modal__button-close-icon')
				.modal__header
					.modal__title.js-message-modal-title Сообщение
				.modal__body
					.modal__description.js-message-modal-description Описание

		#success-modal.modal.modal--success.modal--animate
			.modal__inner
				button.modal__button-close.js-close-modal(type='button')
					+icon('close', 'modal__button-close-icon')
				.modal__header
					.modal__title.js-success-modal-title Заявка успешно отправлена!
				.modal__body
					.modal__description.js-success-modal-description Ожидайте звонка специалиста!

		#error-modal.modal.modal--error.modal--animate
			.modal__inner
				button.modal__button-close.js-close-modal(type='button')
					+icon('close', 'modal__button-close-icon')
				.modal__header
					.modal__title.js-error-modal-title Ошибка при обработке запроса!
				.modal__body
					.modal__description.js-error-modal-description Повторите попытку или попробуйте позже.
