mixin modals
  .modals

    #success-modal.modal.modal--success.modal--animate
      .modal__inner
        button.modal__button-close.js-close-modal(type='button')
          +icon('close', 'modal__button-close-icon')
        .modal__header
          .modal__title.js-modal-title Заявка успешно отправлена!
        .modal__body
          .modal__description.js-modal-description Ожидайте звонка специалиста!

    #error-modal.modal.modal--error.modal--animate
      .modal__inner
        button.modal__button-close.js-close-modal(type='button')
          +icon('close', 'modal__button-close-icon')
        .modal__header
          .modal__title.js-modal-title Ошибка при обработке запроса!
        .modal__body
          .modal__description.js-modal-description Повторите попытку или попробуйте позже.

    #message-modal.modal.modal--message.modal--animate
      .modal__inner
        button.modal__button-close.js-close-modal(type='button')
          +icon('close', 'modal__button-close-icon')
        .modal__header
          .modal__title.js-modal-title Спасибо за обращение!
        .modal__body
          .modal__description.js-modal-description Наш специалист свяжется с Вами в ближайшее время!
