@use 'sass:math';

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

#SVG_container {
  position: absolute;
  height: 0;
  width: 0;
}

#SVG_container svg {
  position: absolute;
  height: 0;
  width: 0;
}

{{#shapes}}
.icon-{{base}} {
  font-size: math.div({{height.inner}}, 300)*1rem;
  width: math.div({{width.inner}}, {{height.inner}})*1em;
}
{{/shapes}}
