.input-group {
  $group: &;

  &__error {
    color: #FC6464;
    font-size: 12px;
  }

  &--error {
    #{$group} .input {
      background: #FFE1E1;
    }
  }

  #{$group}__error {
    padding-top: 10px;
  }
}
