extends ../layouts/_base

block vars
	- var array = {title:'Главная страница'}

block content
	main.page
		.container
			h1 Стартовый шаблон Gulp 4
			hr
			h2 Написание разметки
			div
				span Для создания html-разметки используется наблонизатор <code>Pug</code>.
				| &nbsp;
				a(
					href='https://gist.github.com/neretin-trike/53aff5afb76153f050c958b82abd9228'
					title='Перейти'
					target='_blank') Документация на русском
			h2 Написание стилей
			h2 Написание JavaScript-кода
			h2 Работа с иконками
			h2 Работа с изображениями
			p После добавления новых изображений в папку <strong>img/</strong> выполнить задачу <code>gulp img</code>
			h2 Работа со шрифтами
			h2 Работа с задачами Gulp
			ul
				li Запуск проекта в режиме разработки - <code>gulp</code> или <code>gulp default</code>
				li Сборка иконок - <code>gulp icons</code>
				li Сборка проекта - <code>gulp build</code>
				li Очистка промежуточной сборки (папка app) - <code>gulp cleanApp</code>
				li Очистка сборки (папка build) - <code>gulp cleanBuild</code>
