extends ../layouts/_base

block vars
	- var array = {title:'Главная страница'}

block content
	main.page
		.container

			.ui
				.ui-section
					.ui-header
						.ui-title Select
					.ui-content

						.select.js-select
							button.select__button.js-select-button
								span.select__text.js-select-current Выберите из списка
								+icon('chevron-down', 'select__icon')
							.select__body.js-select-body
								.select__list
									- for (var i = 0; i< 5; i++)
										label.checkbox
											input.checkbox__input(type='checkbox' name='select-item' value=`Значение ${i + 1}`)
											span.checkbox__indicator
												+icon('check', 'checkbox__icon')
											span.checkbox__text= `Значение ${i + 1}`


						- var cols = 0
						.grid-columns
							while cols < 4
								p= cols++

						- var cols_9 = 0
						.grid-columns.grid-columns--9
							while cols_9 < 9
								p= cols_9++
			//form.js-send-form(action='' name='form')
			//
			//	.input-group(data-input-group='checkbox')
			//		label.checkbox
			//			input.checkbox__input.js-consent-checkbox(type='checkbox' name='consent' checked)
			//			span.checkbox__indicator
			//				+icon('check', 'checkbox__icon')
			//			span.checkbox__text
			//				| Согласен за обработку
			//				|
			//				a(href='/' title='Перейти') персональных данных
			//
			//	button(type='submit') Отправить
			//
			//
			//
			//
			//.select
			//	.select__field
			//		button.select__button(type='button')
			//			span.select__selected Выберите из списка
			//			+icon('chevron-right', 'select__icon')
			//	.select__body
			//		.select__list
			//			label.checkbox
			//				input.checkbox__input.js-consent-checkbox(type='checkbox' name='consent')
			//				span.checkbox__indicator
			//					+icon('check', 'checkbox__icon')
			//				span.checkbox__text Значение 1
			//			label.checkbox
			//				input.checkbox__input.js-consent-checkbox(type='checkbox' name='consent')
			//				span.checkbox__indicator
			//					+icon('check', 'checkbox__icon')
			//				span.checkbox__text Значение 2
			//			label.checkbox
			//				input.checkbox__input.js-consent-checkbox(type='checkbox' name='consent')
			//				span.checkbox__indicator
			//					+icon('check', 'checkbox__icon')
			//				span.checkbox__text Значение 3
