#success-modal.modal.modal--success.modal--animate
	.modal__inner
		button.modal__button-close.js-close-modal(type='button')
			+icon('close', 'modal__button-close-icon')
		.modal__header
			.modal__title.js-success-modal-title Заявка успешно отправлена!
		.modal__body
			.modal__description.js-success-modal-description Ожидайте звонка специалиста!
