.modal.modal--error(id='modal-error')
	.modal__inner
		button.modal__close(type='button')
			+icon('close', 'modal__close-icon')
		.modal__header
			.modal__title.js-modal-error-title
		.modal__body
			.modal__message.js-modal-error-message
