.modal.modal--success(id='modal-success')
	.modal__inner
		button.modal__close(type='button')
			+icon('close', 'modal__close-icon')
		.modal__header
			.modal__title.js-modal-success-title
		.modal__body
			.modal__message.js-modal-success-message
