* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}


html {
  overflow-x: hidden;
  font-size: 62.5%;
}


body {
  margin: 0;
}


.body {
  position: relative;
  font-family: var(--ff);
  color: var(--color-base);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-size: 1.4rem;
}
