include ../global/_include
include ../templates/_include

- var array = ''

block vars

doctype html
html.js-document(lang='ru' data-theme='default')
	head
		+head(array)
	body.body.js-body
		+svg-container()
		+header()

		block content

		+footer()
		+scripts()
