include ../global/_include
include ../templates/_include

- var array = null

block vars

doctype html
html.js-document(lang='ru' data-theme='default')
	head
		+head(array)
	body.body.js-body(class=array.class ? `page-${array.class}`: 'page-main')
		+svg-container()
		+header()

		block content

		+footer()
		+modals()
		+scripts()
